*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.bib
*.RData
*.rds
OppPK-Paper-concordance.tex
OppPK-Paper.log
OppPK-Paper.synctex.gz
OppPK-Paper.tex
OppPK-Paper.bbl
Bayes.R
model.R
unnamed*
figure/unnamed*
vignettes/figure/*

